stages:
  - build

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

docker-build:
  image: docker:24.1.1-cli
  stage: build
  services:
    - docker:24.1.1-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker buildx create --use --name builderx || echo "builderx context exists"
  script:
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        export TAG="latest"
      else
        export TAG="$CI_COMMIT_REF_NAME"
      fi
      echo "Building image with tag: $TAG"
    - docker buildx build --pull -t "$CI_REGISTRY_IMAGE:$TAG" --load .
  rules:
    - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG
      exists:
        - Dockerfile
