stages:
  - build

docker-build:
  image: docker:24.0.5-cli
  stage: build
  services:
    - docker:24.0.5-dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - |
      CONTEXT_NAME="edu-neosoft-backend"
      if docker context inspect $CONTEXT_NAME &> /dev/null; then
        echo "Context '$CONTEXT_NAME' already exists."
      else
        echo "Creating context '$CONTEXT_NAME'..."
        docker context create $CONTEXT_NAME
        docker buildx create --name builderx --driver docker-container --use $CONTEXT_NAME
      fi
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        TAG=":latest"
      else
        TAG=":$CI_COMMIT_REF_NAME"
      fi
    - docker buildx build --pull -t "$CI_REGISTRY_IMAGE$TAG" .
    - docker buildx build --push -t "$CI_REGISTRY_IMAGE$TAG" --platform linux/amd64
  rules:
    - exists:
        - Dockerfile
