stages:
  - build

variables:
  DOCKER_TLS_CERTDIR: ""

docker-build:
  stage: build
  image: docker:24.0.5-cli
  script:
    - docker info
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker buildx create --use --name builderx || true
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        TAG="latest"
      else
        TAG="$CI_COMMIT_REF_NAME"
      fi

      docker buildx build --pull -t "$CI_REGISTRY_IMAGE:$TAG" --push .
  rules:
    - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG
      exists:
        - Dockerfile
  tags:
    - docker
