stages:
  - build

variables:
  DOCKER_TLS_CERTDIR: ""

docker-build:
  stage: build
  image: docker:latest
  timeout: 60m
  script:
    - docker info
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker buildx create --use --name builderx || true
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        TAG="latest"
      else
        TAG="$CI_COMMIT_REF_NAME"
      fi
      docker buildx build --pull -t "$CI_REGISTRY_IMAGE:$TAG" --push .
  tags:
    - docker
